html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 28, 21);
}

#mainContainer {
    display: flex;
}

p::selection {background-color: pink;}
h1::selection {background-color: pink;}
a::selection {background-color: pink;}
li::selection {background-color: pink;}
img::selection {background-color: pink;}

a {
    color: rgb(0, 124, 137)
}
a:hover {
    cursor:pointer;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    border-left: 8px solid rgb(255, 224, 27);
}

#signupForm h1 {
    font-size: 44px;
    margin: 0px 0px;
    margin-bottom: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#signupForm p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

#chimpPic {
    height: 38px;
    margin: 12px 12px;
}

#primaryDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.formWrapper {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 12px;
}

input[type='text'], input[type='password'], input[type='email'] {
    height: 44px;
    padding: 0px 15px;
    margin-bottom: 24px;
    border: 1px solid rgb(222, 221, 220);
    border-radius: 2px;
}

#pwSpan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#eyePicSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    color: rgb(0, 124, 137)
}

#eyePicSpan:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    color: rgb(0, 81, 90);
    cursor: pointer;
}

#eyePicSpan p {
    margin: 0px 0px 0px 10px;
}

#eyePic {
    width: 20px;
}

ul {
    padding-left: 20px;
    width: 285px;
    font-size: 14px;
    list-style-image: url('assets/circle-solid.svg');
}

#listDiv{
    display: flex;
    max-height: 200px;
    line-height: 24px;
}

#submitDiv {
    display: flex;
    width: 100%;
}

#submitDiv button {
    height: 48px;
    width: auto;
    background: none;
    font-size: 16px;
    color: rgb(222, 221, 220);
    border: 1px solid rgb(222, 221, 220);
    border-radius: 2px;
    padding: 0px 42px;
    margin-right: 30px;
    white-space: nowrap;
    text-align: center;
}

#submitDiv label {
    font-size: 16px;
    margin-left: 16px;
}

.emailOffers {
    -webkit-appearance: none;
    min-width: 25px;
    width: 25px !important; 
    height: 25px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('assets/input-sprites-spaced-2x.png');
    background-size: 24px 388px;
    margin: 0;
    padding: 0;
}


#sideDiv {
    width: 40%;
    background: url("assets/art-hero-flowers.png") left no-repeat, linear-gradient(to left, #ffe01b 85%, transparent 85%) left no-repeat;
    overflow:hidden;
}

footer {
    color: rgba(36, 28, 21, 0.65);
    font-size: 12px;
    margin-left: 16px;
}

footer a {
    color: rgba(36, 28, 21, 0.65);
    font-size: 12px;
    text-decoration: underline;
}

#feedback {
    position: fixed;
    right: -20px;
    top:50%;
    background-color: rgb(222, 221, 220);
    transform: rotate(-90deg);
    padding: 0px 10px;
    font-size: 12px;
}